<!--５章で追加-->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  
  <!--5章でカッコ内を右記から下記へ image_tag('sample-author1.jpg') 
      プロフィール画像を出せるようにした
      attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像-->
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

</div>


<%= render 'post_images/list', post_images: @post_images %>
<!-- render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] -->
<!--７章で部分テンプレート利用
_list.html.erbで内容確認-->



<!--5章で追加。編集ページへのリンク-->
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>


<!--<h1>Users#show</h1>-->
<!--<p>Find me in app/views/users/show.html.erb</p>-->
<!--５章。下記に置き換えのため初期生成は削除-->
<!--app/views/post_imagesフォルダ内のindex.html.erbファイルのコピー-->
